---

# https://headwayapp.co/puppet-forge-updates/new-ipv6-enabled-hostname-forgeapi-cdn-puppet-com-145162
forge:
  baseurl: https://forgeapi-cdn.puppet.com

sources:
  main:
    remote: {{ puppet_environments_repository }}
    basedir: /etc/puppetlabs/code/environments

...
